.advantages {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 24px;
}

.advantages-title-svg {
	margin-bottom: 60px;
}

.advantages__list {
	display: flex;
	text-align: center;
	flex-direction: column;
	gap: 40px;
}

.advantages__title {
	display: block;
	font-weight: 700;
	font-size: 40px;
	line-height: 44px;
	margin-bottom: 16px;
}

.advantages__subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}

.advantages__text-color {
	color: var(--tertiary-color);
}

@media (min-width: 768px) {
	.advantages__list {
		flex-direction: row;
	}
}

@media (min-width: 1200px) {
	.advantages__img {
		width: 570px;
		height: 280px;
	}
}