* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;    
}

html {
	font-family: 'Gilroy';
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

svg {
	fill: currentColor;
}

.transition {
	transition: .2s;
}

.header-link,
.mobile-menu-link {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
	width: 100%;
	color: #000;
	cursor: pointer;
	border: 2px solid;
	border-radius: 36px;
	font-family: 'Gilroy';
	font-weight: 700;
	padding: 10px;
}
