* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;    
}

html {
	font-family: 'Gilroy';
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

s {
	text-decoration-color: var(--tertiary-color);
}

/* svg {
	fill: currentColor;
} */

.transition {
	transition: .2s;
}

.logo {
	cursor: pointer;
}

.backdrop-blur-sm {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(8px);
}

