.features {
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
	padding: 24px;
	gap: 85px;
}

.features__section {
	width: 100%;
}

.features__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.features__title {
	font-size: 28px;
	line-height: 36px;
	margin-bottom: 40px;
}

.features__subtitle {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 8px;
}

.features__text {
	color: #666666;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 24px;
}

@media (min-width: 768px) {
	.features__title {
		font-size: 48px;
		line-height: 52px;
	}

	.features__subtitle {
		font-size: 24px;
		line-height: 30px;
	}

	.features__text  {
		font-size: 18px;
		line-height: 24px;
	}
}

@media (min-width: 1200px) {
	.features {
		align-items: center;
		grid-template-columns: 1fr 1fr;
	}

	.features__title,
	.features__subtitle,
	.features__text {
		text-align: start;
	}

	.features--invert .features__section:nth-child(2) {
		order: -1;
	}
}