.footer-main {
	background: #121212;
	color: #fff;
	border-radius: 12px 12px 0 0;
	overflow: hidden;
}

.copyright-fade {
	position: absolute;
	inset: 0;
	background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0, .6) 50%, black 100%);
}

.footer-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 80px 24px 0 24px;
}

.footer-section__title {
	font-weight: 700;
	font-size: 28px;
	line-height: 36px;
	margin-bottom: 16px;
}

.footer-section__text {
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	color: #A0A0A0;
	margin: 0 auto 46px;
}

.footer-section .button {
	margin-bottom: 36px;
}

.card__title--footer {
	color: #A0A0A0;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.4;
	margin-bottom: 50px;
}

.copyright-section {
	display: flex;
	flex-direction: column;
	padding-top: 135px;
	position: relative;
	min-height: 360px;
	background-image: url(../img/footer/footer_img.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.copyright-section__links, .copyright-social, .copyright-text {
	position: relative;
	z-index: 1;
}

.copyright-section__list {
	display: flex;
	max-width: 350px;
	margin: 0 auto;
	flex-wrap: wrap;
	gap: 10px 24px;
}

.copyright-section__item--main {
	width: 100%;
}

.copyright-section__item--secondary {
	width: 50%;
	width: calc(50% - 16px);
	margin-bottom: 24px;
}

.copyright-section__item {
	text-align: center;
}

.copyright-section__link {
	color: #D6D6D6;
	text-decoration: none;
}

.copyright-section__link:hover {
	color: var(--tertiary-hover);
}

.copyright__item:active {
	transform: scale(0.9);
}

.copyright-text {
	text-align: center;
}

.copyright__text {
	color: #ADA9A5;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.4;
	justify-content: center;
}

.copyright-social__item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 24px;
}

.copyright-social__link {
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: #424141;
}

.copyright-social__list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 16px;
}

.copyright-social__vk, .copyright-social__inst, .copyright-social__tg {
	width: 16px;
}

@media (min-width: 1200px) {
	.footer-main {
		border-radius: 24px 24px 0 0;
	}

	.footer-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 180px 0 55px 0;
	}

	.card__title--footer {
		color: #B7B7B7;
		font-size: 16px;
		line-height: 20px;
	}

	.footer-section__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 52px;
		margin-bottom: 16px;
	}

	.footer-section__text {
		font-size: 24px;
		line-height: 1.3;
		color: #A0A0A0;
		margin: 0 auto 46px;
	}

	.copyright-section {
		display: flex;
		justify-content: end;
		padding: 0 137px 40px;
		background-image: url(../img/footer/footer_img_desktop.png);
	}
	
	.copyright-section__list {
		flex-wrap: nowrap;
		max-width: none;
		margin: 0;
		gap: 32px;
		margin-left: auto;
	}
	
	.copyright-section__item--main, .copyright-section__item--secondary {
		width: auto;		
	}

	.copyright-social__item, .copyright-social__item--main, .copyright-section__item--secondary {
		margin-bottom: 0;
	}

	.copyright-section__links {
		display: flex;
		align-items: center;
		gap: 32px;
	}

	.copyright-social__list {
		display: flex;
		flex-direction: row;
		gap: 16px;
	}
	
	.copyright-text {
		order: -1;
	}
}