.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 16px 0 16px;
	max-width: 1460px;
	width: 100%;
	margin: 0 auto 96px;
	overflow: hidden;
}

.logo {
	cursor: pointer;
}

.header-buttons {
	display: flex;
	align-items: center;
	gap: 10px;
}

.nav-list {
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.nav-list__link {
	color: #000;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
}

.nav-list__item:active {
	transform: scale(0.9);
}

.header--button {
	display: flex;
	align-items: center;
	gap: 8px;
	background-color: #fff;
	border-radius: 36px;
	border: 1px solid var(--primary-border-color);
	cursor: pointer;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
}

.header--button:active {
	transform: scale(0.9);
}

.header--button:hover {
	border-color: var(--primary-border-color-hover);
}

.transition {
	transition: .2s;
}

.button--primary,
.button--tertiary {
	padding: 12px 18px;
}

.button--secondary {
	padding: 13px;
}

.button--tertiary {
	background-color: #000;
	color: #fff;
	border-color: #000;
}

.button--tertiary:hover {
	background-color: var(--secondary-hover);
}

@media (min-width: 768px) {
	.button--quaternary {
		display: none;
	}

	.button--primary {
		padding: 12px 24px;
	}
}

@media (max-width: 767px) {
	.button--tertiary {
		display: none;
	}

	.nav-list__list {
		display: none;
	}
}

@media (min-width: 1200px) {
	.header {
		padding: 32px 44px;
	}
}
